{{ define "main" }}
<main>
    <h1>{{ .Title }}</h1>

    {{ with .Content }}
    <div class="section-content">
        {{ . }}
    </div>
    {{ end }}

    {{ if .Pages }}
    <ul class="post-list">
        {{ range .Pages }}
        <li>
            <div class="post-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </div>
            <div class="post-meta">
                <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span>
                {{ if .Params.categories }}
                <span>in {{ delimit .Params.categories ", " }}</span>
                {{ end }}
            </div>
            {{ if .Summary }}
            <p>{{ .Summary }}</p>
            {{ end }}
        </li>
        {{ end }}
    </ul>
    {{ else }}
    <p>No content found.</p>
    {{ end }}
</main>
{{ end }}
