{{/*
  Risograph-style title with deterministic random offsets
  Usage: {{ partial "riso-title.html" . }}
*/}}

{{- $title := .Title -}}
{{- $permalink := .RelPermalink -}}

{{/* Generate pseudo-random seed from permalink */}}
{{- $hash := md5 $permalink -}}
{{- $seed1 := index (split $hash "") 0 | printf "%s" -}}
{{- $seed2 := index (split $hash "") 1 | printf "%s" -}}
{{- $seed3 := index (split $hash "") 2 | printf "%s" -}}

{{/* Convert hex chars to numbers and scale to offset range (-3px to 3px) */}}
{{- $offset1X := 0 -}}
{{- $offset1Y := 0 -}}
{{- $offset2X := 0 -}}
{{- $offset2Y := 0 -}}
{{- $offset3X := 0 -}}
{{- $offset3Y := 0 -}}

{{/* Map hex to offset values */}}
{{- if eq $seed1 "0" }}{{ $offset1X = -3 }}{{ $offset1Y = 2 }}{{ end -}}
{{- if eq $seed1 "1" }}{{ $offset1X = -2 }}{{ $offset1Y = -2 }}{{ end -}}
{{- if eq $seed1 "2" }}{{ $offset1X = 3 }}{{ $offset1Y = 1 }}{{ end -}}
{{- if eq $seed1 "3" }}{{ $offset1X = 2 }}{{ $offset1Y = -3 }}{{ end -}}
{{- if eq $seed1 "4" }}{{ $offset1X = -1 }}{{ $offset1Y = 3 }}{{ end -}}
{{- if eq $seed1 "5" }}{{ $offset1X = 1 }}{{ $offset1Y = -1 }}{{ end -}}
{{- if eq $seed1 "6" }}{{ $offset1X = -3 }}{{ $offset1Y = -2 }}{{ end -}}
{{- if eq $seed1 "7" }}{{ $offset1X = 3 }}{{ $offset1Y = 2 }}{{ end -}}
{{- if eq $seed1 "8" }}{{ $offset1X = -2 }}{{ $offset1Y = 1 }}{{ end -}}
{{- if eq $seed1 "9" }}{{ $offset1X = 2 }}{{ $offset1Y = -1 }}{{ end -}}
{{- if eq $seed1 "a" }}{{ $offset1X = 1 }}{{ $offset1Y = 3 }}{{ end -}}
{{- if eq $seed1 "b" }}{{ $offset1X = -1 }}{{ $offset1Y = -3 }}{{ end -}}
{{- if eq $seed1 "c" }}{{ $offset1X = 3 }}{{ $offset1Y = -1 }}{{ end -}}
{{- if eq $seed1 "d" }}{{ $offset1X = -3 }}{{ $offset1Y = 1 }}{{ end -}}
{{- if eq $seed1 "e" }}{{ $offset1X = 2 }}{{ $offset1Y = 2 }}{{ end -}}
{{- if eq $seed1 "f" }}{{ $offset1X = -2 }}{{ $offset1Y = -2 }}{{ end -}}

{{- if eq $seed2 "0" }}{{ $offset2X = 2 }}{{ $offset2Y = -2 }}{{ end -}}
{{- if eq $seed2 "1" }}{{ $offset2X = -3 }}{{ $offset2Y = 3 }}{{ end -}}
{{- if eq $seed2 "2" }}{{ $offset2X = 1 }}{{ $offset2Y = 1 }}{{ end -}}
{{- if eq $seed2 "3" }}{{ $offset2X = -1 }}{{ $offset2Y = -3 }}{{ end -}}
{{- if eq $seed2 "4" }}{{ $offset2X = 3 }}{{ $offset2Y = 2 }}{{ end -}}
{{- if eq $seed2 "5" }}{{ $offset2X = -2 }}{{ $offset2Y = -1 }}{{ end -}}
{{- if eq $seed2 "6" }}{{ $offset2X = 2 }}{{ $offset2Y = 3 }}{{ end -}}
{{- if eq $seed2 "7" }}{{ $offset2X = -3 }}{{ $offset2Y = -2 }}{{ end -}}
{{- if eq $seed2 "8" }}{{ $offset2X = 1 }}{{ $offset2Y = -1 }}{{ end -}}
{{- if eq $seed2 "9" }}{{ $offset2X = 3 }}{{ $offset2Y = 1 }}{{ end -}}
{{- if eq $seed2 "a" }}{{ $offset2X = -1 }}{{ $offset2Y = 2 }}{{ end -}}
{{- if eq $seed2 "b" }}{{ $offset2X = 2 }}{{ $offset2Y = -3 }}{{ end -}}
{{- if eq $seed2 "c" }}{{ $offset2X = -2 }}{{ $offset2Y = 1 }}{{ end -}}
{{- if eq $seed2 "d" }}{{ $offset2X = 1 }}{{ $offset2Y = 3 }}{{ end -}}
{{- if eq $seed2 "e" }}{{ $offset2X = -3 }}{{ $offset2Y = -1 }}{{ end -}}
{{- if eq $seed2 "f" }}{{ $offset2X = 3 }}{{ $offset2Y = -2 }}{{ end -}}

{{- if eq $seed3 "0" }}{{ $offset3X = -2 }}{{ $offset3Y = 3 }}{{ end -}}
{{- if eq $seed3 "1" }}{{ $offset3X = 2 }}{{ $offset3Y = 1 }}{{ end -}}
{{- if eq $seed3 "2" }}{{ $offset3X = -1 }}{{ $offset3Y = -2 }}{{ end -}}
{{- if eq $seed3 "3" }}{{ $offset3X = 3 }}{{ $offset3Y = -1 }}{{ end -}}
{{- if eq $seed3 "4" }}{{ $offset3X = 1 }}{{ $offset3Y = 2 }}{{ end -}}
{{- if eq $seed3 "5" }}{{ $offset3X = -3 }}{{ $offset3Y = -3 }}{{ end -}}
{{- if eq $seed3 "6" }}{{ $offset3X = 2 }}{{ $offset3Y = -2 }}{{ end -}}
{{- if eq $seed3 "7" }}{{ $offset3X = -2 }}{{ $offset3Y = 2 }}{{ end -}}
{{- if eq $seed3 "8" }}{{ $offset3X = 3 }}{{ $offset3Y = -3 }}{{ end -}}
{{- if eq $seed3 "9" }}{{ $offset3X = -1 }}{{ $offset3Y = 1 }}{{ end -}}
{{- if eq $seed3 "a" }}{{ $offset3X = 1 }}{{ $offset3Y = -1 }}{{ end -}}
{{- if eq $seed3 "b" }}{{ $offset3X = 3 }}{{ $offset3Y = 3 }}{{ end -}}
{{- if eq $seed3 "c" }}{{ $offset3X = -3 }}{{ $offset3Y = 2 }}{{ end -}}
{{- if eq $seed3 "d" }}{{ $offset3X = 2 }}{{ $offset3Y = -1 }}{{ end -}}
{{- if eq $seed3 "e" }}{{ $offset3X = -2 }}{{ $offset3Y = -3 }}{{ end -}}
{{- if eq $seed3 "f" }}{{ $offset3X = 1 }}{{ $offset3Y = 3 }}{{ end -}}

<h1 class="riso-title" style="--riso-offset1-x: {{ $offset1X }}px; --riso-offset1-y: {{ $offset1Y }}px; --riso-offset2-x: {{ $offset2X }}px; --riso-offset2-y: {{ $offset2Y }}px; --riso-offset3-x: {{ $offset3X }}px; --riso-offset3-y: {{ $offset3Y }}px;">
    {{ $title }}
</h1>
