{{ define "main" }}
<main id="main-content">
    <h1>{{ .Title }}</h1>

    {{ with .Content }}
    <div class="section-content">
        {{ . }}
    </div>
    {{ end }}

    {{ with .Data.Terms.Alphabetical }}
    <ul class="tag-list">
        {{ range . }}
        <li>
            <a class="tag-link" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            <span class="post-meta">({{ .Count }})</span>
        </li>
        {{ end }}
    </ul>
    {{ else }}
    <p>No terms found.</p>
    {{ end }}
</main>
{{ end }}
